
body {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.app {
    background: #fef6cd;
    position: absolute;
    inset: 0;
    margin: auto;
    width: 98%;
}




.navbar {
    background-color: #3f8880;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}




.menu-default {
    list-style: none;
    display: flex;
    gap: 10px;
}

.menu-default__link {
    color: #fef6cd;
    font-size: 26px;
    text-decoration: none;
}


.menu-default__item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}

.menu-default__username {
    font-size: 18px;
}




.welcome {
    position: relative;
    height: calc(100% - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome__title {
    text-align: center;
}




.loginform {
    width: 400px;
    background-color: #3f8880;
    height: 300px;
    padding: 20px;
    margin: auto;
    position: absolute;
    inset: 0;
}

.loginform__title {
    text-align: center;
    margin-bottom: 20px;
    color: #fef6cd;
}

.loginform__input {
    display: block;
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    padding: 10px;
    outline: none;
    border: 1px solid #eee;
    background-color: #fef6cd;
    font-size: 20px;
    font-weight: 600;
    color: #3f8880;
    font-size: 18px;
}

.loginform__button {
    width: 100%;
    height: 60px;
    background-color: #20c67a;
    color: #fef6cd;
    border: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: 20px;
}

.loginform__button:hover {
    border-radius: 0;
}




.main {
    background-color: transparent;
    height: calc(100% - 60px);
    padding-top: 10px;
    width: 100%;
    padding: 10px;
}

.main__col {
    display: flex;
    width: 100%;
    gap: 10px;
}

.main__col--izq{
    width: 100%;
    display: block;
}

.main__col--der{
    width: 360px;
}





.form-nuevo {
    border: 2px solid #3f888070;
    padding: 10px;
    background: #3f8880;
}

.form-nuevo__input,
.form-nuevo__button {
    width: 100%;
    height: 60px;
    margin-bottom: 6px;
    border: none;
}

.form-nuevo__input {
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    outline: none;
    border: 1px solid #ddd;
    background-color: #fef6cd;
}

.form-nuevo__input--error {
    border: 2px solid #ff0000b3;
}

.form-nuevo__select {    
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    font-size: 20px;
    outline: none;
    border: none;
    background-color: #fef6cd;
    color: #3f8880;
}

.form-nuevo__title {
    margin-bottom: 6px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fef6cd;
    gap: 10px;
}

.form-nuevo__subtitle {
    font-size: 14px;
    background: #a0fb0e;
    color: #3f8880;
    width: max-content;
    padding: 4px 14px;
    border-radius: 10px;
}

.form-nuevo__title--der {
    font-size: 14px;
    background: #a0fb0e;
    color: #3f8880;
    width: max-content;
    padding: 4px 14px;
    border-radius: 10px;
}

.form-nuevo__button {
    background-color:#00ff2d57;
    color: #fef6cd;
    font-size: 20px;
    font-weight: 600;
}

.form-nuevo__button:hover {
    border-radius: 20px;
    cursor: pointer;
}




.table {
    width: 100%;
}

.table__row {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;    
    color: #3f8880;
    background-color: #9dc09d26;
    height: 55px;
    margin-bottom: 2px;
    font-size: 20px;
}

.table__row__body:hover {
    font-weight: 700;
    background-color: #00ff0830;
    cursor: pointer;
}

.table__row__body--activo {
    background-color:#00ff0830;
}

.table__row__header {
    background-color:#6eff95a1;
    height: 65px;
    font-weight: 700;
}

.table__col--2x{
    flex:2;
}

.table__col--1x{
    flex:1;
}






.taskbar {
    margin-bottom: 4px;
    display: flex;
    gap: 4px;
    list-style: none;
}

.taskbar__link {
    text-decoration: none;
    display: block;
    background-color:#00ff2d57;
    color: #3f8880;
    padding: 6px 20px;
    font-size: 18px;
    border-radius: 10px;
}




.circulo {
    display: flex;
    gap: 2px;
    align-items: center;
}

.circulo::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background: #00000024;
    border-radius: 50%;
}

.circulo--activo::before {
    background-color: #a0fb0e;
}




.paginado {
    list-style: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.paginado__link {
    font-size: 28px;
    text-decoration: none;
    color: #000;
    display: block;    
}

.paginado__link--actual {
    background: #000;
    color: #fff;
    border-radius: 50%;
    padding: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}




.control-bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.control-bottom__guardar {
    width: 200px;
    height: 50px;
    background-color: #20c67a;
    color: #fef6cd;
    font-size: 20px;
    font-weight: 600;
    border: none;
    margin-top: 10px;
}




.control-top {
    width: 740px;
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    gap: 4px;
    padding: 0 10px;
}

.control-top__label {
    font-size: 20px;
    font-weight: 600;
    color:#3f8880
}

.control-top__select {
    width: 200px;
    height: 40px;
    outline: none;
    font-size: 20px;
    border: 1px solid #3f8880;
    background-color: #fef6cd;
    color: #3f8880;    
}

.control__periodo {
    width: 320px;
    font-size: 16px;
}

.control__titulo {
    text-align: left;
    padding-left: 6px;
    color: #3f8880;
}





.formEvaluacion__input {
    width: 54px;
    height: 54px;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid #fef6cd;
    background-color: #9dc09d26;
    outline: none;
}




.main__title {
    text-align: center;
}

